<!DOCTYPE html>
<html>
  <head>
    <title>Whoop</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="navbar-innter">
          <%= render 'shared/header' %>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
